@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blood on the Clocktower<br />Unofficial Compendium</h1>
    <p>This site is dedicated to explaining interactions of characters which may not be documented officially.<br />If you want to suggest a change, you can submit your suggestion on <a href="https://github.com/pinual/Compendium">Github</a>.</p>
</div>
